@font-face {
  font-family: 'Bitter';
  src: local('Bitter'),
       url('./fonts/Bitter/Bitter-VariableFont_wght.ttf')
       format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
       url('./fonts/Montserrat/Montserrat-Regular.ttf')
       format('truetype');
}
